<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="http://localhost:80/SSM_CRUD_war/lib/element-ui/index.css" rel="stylesheet"/>
    <link href="http://localhost:80/SSM_CRUD_war/css/login.css" rel="stylesheet">
    <link href="http://localhost:80/SSM_CRUD_war/lib/font/icon/iconfont.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <div id="login">
        <el-main id="main">
            <el-row class="row-bg" justify="center" type="flex">
                <el-col :span="5">
                    <el-card class="box-card">
                        <div class="header" solt="header">
                            <span class="item">注册</span>
                        </div>
                        <div id="form">
                            <!-- 注册表单 -->
                            <el-form :model="register" ref="register" status-icon>
                                <el-form-item :rules="[{ required: true, message: '用户名不能为空'}]"
                                              prop="username">
                                    <el-input auto-complete="off" prefix-icon="el-icon-ump-yonghu"
                                              v-model="register.username"></el-input>
                                </el-form-item>
                                <el-form-item :rules="[{ required: true, message: '密码不能为空'},{min: 6, max: 18, message: '长度在 6 到 18个字符'}]"
                                              prop="password">
                                    <el-input auto-complete="off" prefix-icon="el-icon-ump-mima" type="password"
                                              v-model="register.password"></el-input>
                                </el-form-item>
                                <el-form-item :rules="[{ required: true, message: '请再次输入密码'},{min: 6, max: 18, message: '长度在 6 到 18个字符'}]"
                                              prop="repassword">
                                    <el-input @keyup.enter.native="registerEnter()" auto-complete="off"
                                              prefix-icon="el-icon-ump-anquan"
                                              type="password"
                                              v-model="register.repassword"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button @click="submitForm()" class="btn" type="primary">注册</el-button>
                                </el-form-item>
                            </el-form>
                            <div>
                                <p><a class="tips" href="/SSM_CRUD_war/toLogin.action">已经有账号？点我去登录</a></p>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>

    </div>
</div>
</body>
<script src="http://localhost:80/SSM_CRUD_war/lib/vue/vue.js" type="text/javascript"></script>
<script src="http://localhost:80/SSM_CRUD_war/lib/element-ui/index.js" type="text/javascript"></script>
<script src="http://localhost:80/SSM_CRUD_war/lib/vue/vue-resource.js" type="text/javascript"></script>
<script src="http://localhost:80/SSM_CRUD_war/lib/js/axios-0.18.0.js" type="text/javascript"></script>
<!-- 核心js代码 -->
<script src="http://localhost:80/SSM_CRUD_war/js/register.js" type="text/javascript"></script>
</html>